<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  
  <appSettings>
    <!-- To enable internal log4net logging specify the 
		     following appSettings key -->
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>
  
  <log4net ConfigFile="log4net.config"></log4net>
  
  <!--<system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="D:/CSProjects/Log4NetDemo/Log4NetDemo/bin/log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>